name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ] # , macos-latest, windows-latest ]
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    name: Python ${{ matrix.python-version }} on OS ${{ matrix.os }}

    # https://github.com/actions/setup-python/issues/374#issuecomment-1088938718
    steps:

      - name: Acquire sources
        uses: actions/checkout@v3

      - name: Install Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Install Poetry
        run: pipx install poetry==1.2.2

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'poetry'

      - name: Install program with dependencies
        run: |
          poetry env use "${{ matrix.python-version }}"
          poetry install --no-interaction

      - name: Run tests, with coverage report
        run: |
          poetry run poe coverage
          poetry run coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
